* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

button {
    color: black;
}

.gridbox-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.gridbox-item li {
  margin: 2px 0;
}


input, select, textarea {
    color: black;
}

option {
    color: black;
    background-color: white;
}

body {
    margin-top: 60px;
    background-color: rgb(62, 66, 71);
}


/* Navbar styling */

.header {
    
    color: rgb(74, 253, 86);
    background-color: rgb(19, 22, 26);
    position: fixed;
    padding: 0px 5%;
    width: 100%;
    top: 0px;
}

.flex-container {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
    width: 100%;
    z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;
    /* margin: 0 auto; */
}

.nav_list {
    display: flex;
    column-gap: 40px;
    list-style: none;
}


.nav_link {
    color: rgba(112, 246, 130, .8);
    font-size: 15px; 
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(112, 246, 130, 1);
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(112, 246, 130);
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}

.nav_link:hover::after {
    opacity: 1;
}

.btn {
    color: white;
    background-color: rgb(118, 181, 206);
    padding: 7px 18px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: rgb(137, 218, 250);
}

/* Dash Board Styles*/
/* Calender Grid styles */

.dashboard h2 {
    color: rgb(74, 253, 86);
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    text-align: center;
}

.dashboard h3{
    text-align: center;
}
.day_names {
    color: rgb(74, 253, 86);
    text-align: center;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day_names h5 {
    border: 1px solid rgb(112, 246, 130);
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
}

.goal {
    color: greenyellow;
}
.metGoal {
    color: greenyellow;
}
.notGoal {
    color: rgb(250, 63, 63);
}
.gridbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
}
.gridbox-item {
    color: rgb(74, 253, 86);
    margin: 1px;

    text-align: center;
    background-color: rgba(217, 252, 207, 0.1);
    border: 1px solid rgb(156, 179, 154);
    border-radius: 10px;
}

.gridbox-item:hover{
    background-color: rgba(236, 254, 235, 0.5);
}

.day_names ul li {
    color: green;
}
/* Login styles */

.login {
    margin-top: 100px;
    display: flex;
    padding: 40px 35px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    color: rgb(74, 253, 86); 

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif; 
}

.login h2, .login h3 {
    color: rgb(74, 253, 86);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.login label{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    color: rgb(74, 253, 86);
}

.login input {
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}

.login button {
    background-color: rgb(74, 253, 86);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
};

.register {
    margin-top: 100px;
    display: flex;
    padding: 40px 35px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    color: rgb(74, 253, 86); 

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif; 
}

.register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register h2, .register h3 {
    margin: 10px;
    color: rgb(74, 253, 86);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    text-align: center;

}

.register label{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: left;
    margin-bottom: 8px;
    color: rgb(74, 253, 86);
}

.register input {
    color: black;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5px;
}


.register button {
    background-color: rgb(74, 253, 86);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
};

