* {
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(62, 66, 71);
}

.dashboard h2 {
    color: rgb(74, 253, 86);
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

/* Navbar styling */

.header {
    color: rgb(74, 253, 86);
    background-color: rgb(19, 22, 26);
    position: fixed;
    width: 100%;
    top: 0px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.logo_img {
    width: 150px;
    display: block;
}


.nav_list {
    display: flex;
    column-gap: 40px;
    list-style: none;
}


.nav_link {
    color: rgba(112, 246, 130, .8);
    font-size: 15px; 
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(112, 246, 130, 1);
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(112, 246, 130);
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}

.nav_link:hover::after {
    opacity: 1;
}

.btn {
    color: white;
    background-color: rgb(118, 181, 206);
    padding: 7px 18px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    
    background-color: rgb(137, 218, 250);

}

/* Calender Grid styles */

.day_names {
    color: rgb(74, 253, 86);

    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gridbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
}
.gridbox-item {
    color: rgb(74, 253, 86);

    text-align: center;
    border: 1px solid rgb(156, 179, 154);
    border-radius: 10px;
}

.gridbox-item:hover{
    background-color: rgba(236, 254, 235, 0.5);
}